body {
    color: white;
    font-family: 'Questrial', sans-serif;
    font-weight: 100;
    p {
      line-height: 1.4rem;
    }
    li {
      line-height: 1.4rem;
      }

    h1,h2 {
      font-size: @headersize;
      font-weight: 100;
      @media (max-width: @bp-wide) {
        font-size: @headersize * 0.6;
      }

      @media (max-width: @bp-mid) {
        font-size: @headersize * 0.5;
      }
    }

    h3 {
      font-weight: 100;
      font-size: 22px;
      line-height: 1.9rem;
    }

    nav {
      font-size: 20px;
      @media (max-width: @bp-wide) {
        font-size: 12px;
      }
    }

    span.is-style-potager-1 {
      font-size: @goutiere;
      line-height: 4rem;
      border-bottom: 4px solid currentColor;
    }

    span.is-style-potager-2 {
      font-size: @goutiere/1.5;
      line-height: 3rem;
      border-bottom: 4px solid currentColor;
    }

    span.is-style-potager-3 {
      font-size: @goutiere/3;
      border-bottom: 4px solid currentColor;
    }

    .projets, .gallerie-projet {
      figcaption {
          h5 {
            font-size: 20px;
            font-weight: 100;
          }
          p {
            font-size: 15px;
            font-weight: 100;
            font-style: italic;
          }
      }
    }
}
