.projets, .gallerie-projet {
  h2 {
    font-size:80px;
  }
  overflow: hidden;
  .gauche {
    float: left;
  }
  .droite {
    float: right;
  }
  .gauche,.droite {
    margin: 40px;
  }
  figcaption {
      h5 {
        font-size: 50px;
        margin:0;
      }
      p {
        font-size: 25px;
        margin:0;
      }
  }
}
