.projets, .gallerie-projet {
  padding-top: @goutiere;
  overflow: hidden;
  .gauche {
    float: left;
  }
  .droite {
    float: right;
  }
  .gauche,.droite {
    margin: @goutiere;
  }
  .small {
    width:10%;
  }
  .mid {
    width:20%;
  }
  .big {
    width:40%;
  }
  .small,.mid,.big {
    img {
      width:90%;
      height: auto;
    }
  }
  figcaption {
      h5 {
        max-width: 500px;
        margin:0;
      }
      p {
        margin:0;
      }
  }
}
