body.home {
  .site {
    .entry-header {
      float: right;
      margin-top: -3.5em;
      margin-right: 25%;
    }
    .entry-content{
      max-width: 30%;
      p {
        margin-top: 5em;
      }
    }
  }
  .projets{
    h2 {
      font-size:80px;
    }
    overflow: hidden;
    .gauche {
      float: left;
    }
    .droite {
      float: right;
    }
  }
}
