body.home {
  header.entry-header  {
      margin-top: @goutiere;
      h1 {
        max-width: 10 * @goutiere;
      }
  }
  .firstpage {
      .leftcolumn {
        p {
          width: 8.2 * @goutiere;
        }
      }
    @media (max-width: @bp-mid) {
      flex-direction:column-reverse;
      .leftcolumn {
          padding-top: 0;
          padding-left: 0.5 * @goutiere;
          max-width: 90%;
          min-width: 90%;
          p {
            margin: 0 auto;
          }
      }
    }
  }
}
