body {
  nav.main-navigation {
    padding-top: 2.5em;
    float: right;
    margin-right: .7 * @goutiere;
    width: 694px;
    @media (max-width: @bp-wide) {
        width: 480px;
    }
    .menu-toggle {
      display: none;
      @media(max-width: @bp-small){
        display: block;
      }
    }
    ul.nav-menu {
      list-style: none;
      display: flex;
      justify-content: space-evenly;
      li {
        a {
          text-decoration: none;
          color: white;
        }
      }
    }
    @media(max-width: @bp-small){
      ul.nav-menu {
          display: none;
      }
      ul.nav-menu.toggled {
        display: flex;
        flex-direction: column;
        li {
          background-color: blue;
          width:100%;
        }
      }
    }
  }
}
