body {
  header {
    padding-top: 2.5em;
    nav.main-navigation {
      .menu-toggle {
        display: none;
      }
      float: right;
      margin-right: @goutiere;
      ul.nav-menu {
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        li {
          padding-left: 20px;
          a {
            text-decoration: none;
            color: white;
          }
        }
      }
    }
  }
}
