.post-thumbnail {
  width: 500px;
  overflow: hidden;
  position: absolute;
  top:0px;
  left:0px;
  img.wp-post-image {
    filter: grayscale(80%);
    width: auto;
    height:700px;
    z-index: -1;
  }
}
