body {
  .projet {
    .entry-header {
      width:100%;
      h1.entry-title {
        font-size: @headersize;
        margin-top:0;
        width:100%;
      }
      padding-bottom: 0;
    }
    .entry-content {
      width: 40%;
      p {
        line-height: 1.1rem;
        width: 100%;
        margin-left: 3*@goutiere;
      }
    }
  }
}
