@import "constants";
@import "font";
@import "home";
@import "projet";
@import "page";
@import "header";
@import "gallery";
@import "footer";

body {
  a {
    text-decoration: none;
    color: black;
  }

  margin-top: 0;
  margin-left: 0;
  width:100vw;
  height: 100vh;
  background: linear-gradient(#176f89, #2bd1aa);

  .scroll {
    overflow-y: auto;
    height: 100%;
    .firstpage {
      max-width: 25 * @goutiere;
      padding-right: @goutiere;
      position: relative;
      .two-columns {

        display: flex;

        .leftcolumn {
          vertical-align: top;
          min-width: 11 * @goutiere;
          height: 100vh;
          padding-top: 3 * @goutiere;
          padding-left: @goutiere;
          z-index: -1;
          background-repeat: no-repeat;
          background-position:left top;
        }

        .rightcolumn {
          padding-top: @goutiere;
          @media (max-width: @bp-wide) {
            margin-top: @goutiere;
          }
          @media (max-width: @bp-mid) {
            margin-top: 2 * @goutiere;
          }
      }
    }
  }

  h1.entry-title {
    margin-top: 2 * @goutiere;
    margin-bottom:0;
    position: absolute;
    right: 0;
    text-align: right;
    z-index: 1;
  }

  }
  .entry-content {
    max-width: 30%;
    min-width: 8.2 * @goutiere;
    float:right;
  }
}
