@import "constants";
@import "font";
@import "home";
@import "projet";
@import "page";
@import "header";
@import "gallery";
@import "footer";
@import "animaux";

body {
  a {
    text-decoration: underline;
    color: black;
  }

  margin-top: 0;
  margin-left: 0;
  width:100vw;
  height: 100vh;
  background: linear-gradient(#176f89, #2bd1aa);

  .scroll {
    overflow-y: auto;
    height: 100%;
    
    h1.entry-title {
      padding-right: @goutiere;
      margin-top: 2 * @goutiere;
      margin-bottom:0;
      position: absolute;
      right: 0;
      text-align: right;
      z-index: 1;
    }

    .entry-content {
      max-width: 30%;
      min-width: 8.2 * @goutiere;
      float:right;
      @media (max-width: @bp-mid) {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        max-width: inherit;
        min-width: inherit;
        float: none;
      }
    }
    .firstpage {
      max-width: 25 * @goutiere;
      padding-right: @goutiere;
      position: relative;

      .two-columns {

        display: flex;
        @media (max-width: @bp-mid) {
          padding-top: @goutiere;
          flex-direction:column-reverse;
        }
        .leftcolumn {
          min-width: 500px;
          background-size: cover;
          height: 100vh;
          padding-top: 3 * @goutiere;
          padding-left: @goutiere;
          z-index: -1;
          background-repeat: no-repeat;
          @media (max-width: @bp-mid) {
            padding-top: 0;
            padding-left: 0.5 * @goutiere;
            max-width: 90%;
            min-width: 90%;
            p {
              margin: 0 auto;
            }
          }
        }
        .rightcolumn {
          padding-top: @goutiere;
          width: 100%;
        }
      }
    }
  }
}
