@import "constants";
@import "font";
@import "header";
@import "home";
@import "gallery";
@import "projet";
@import "footer";
@import "styles";

body {
  a {
    text-decoration: none;
    color: black;
  }

  margin-top: 0;
  margin-left: 0;
  width:100vw;
  height: 100vh;
  background: linear-gradient(#176f89, #2bd1aa);
  .scroll {
    overflow-y: auto;
    height: 100%;
  }
  .firstpage {
    display: flex;
  }

  .leftcolumn {
    vertical-align: top;
    width: 11 * @goutiere;
    min-width: 11 * @goutiere;
    height: 100vh;
    padding-top: 3 * @goutiere;
    padding-left: @goutiere;
  }

  .entry-content {
    max-width: 30%;
    min-width: 8.2 * @goutiere;
    p {
      line-height: 1.3rem;
    }
  }

  .site {
    flex: auto;
    z-index: 1;
    margin-left: @goutiere * 3 / 5;
    padding-right: @goutiere;
    @media (max-width: @bp-wide) {
      margin-top: @goutiere;
    }
    @media (max-width: @bp-mid) {
      margin-top: 2 * @goutiere;
    }
  }
}
