body.single-projet {
  .leftcolumn {
    background-repeat: no-repeat;
    background-position:left top;
    filter: grayscale(1);
  }
  .projet {
    padding-top: @goutiere;
    margin-right: 3 * @goutiere;
    h1.entry-title {
      margin-top: 0.5 * @goutiere;
      margin-bottom:0;
      float:right;
      width: 170%;
      margin-right: -30%;
    }
    .scroll-content {
      float: right;
      clear: right;
      max-width: 30%;
      min-width: 8.2 * @goutiere;
      overflow-y: scroll;
      height: 13 * @goutiere;
      .entry-content {
        p {
          line-height: 1.3rem;
        }
      }
    }
  }
}
