body.single-projet {
  .firstpage {
    .leftcolumn {
      background-repeat: no-repeat;
      background-position:left top;
      filter: grayscale(1);
    }
    .rightcolumn {
      padding-top: 6 * @goutiere;
    }
  }
  .projet {
    padding-top: @goutiere;
    .scroll-content {
      overflow-y: scroll;
      height: 13 * @goutiere;
      width:100%;
    }
  }
}
